/* BODY */
body {
    background-color: #161513;
}
.humberger { 
    display: none;
}

/* header config */
header {
    background-color: #222222;
    /* box-shadow: 0 0 10px rgb(0, 0, 0); */
}

/* header flex config */
nav {
    /* flex */
    display: flex;
    align-items: center;

    /* dimension */
    padding: 1rem;
    /* box-shadow: 0 0 10px rgb(0, 0, 0); */

/* font  */
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;

    /* color */
    background-color: #222222;
}
/* flex items config */
.header_logo {
    flex: 1;
}
.header_menu {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}
.header__menu-itmes {
    color: #E6E6E6;
}
@media (max-width: 1280px) {
    nav {
        font-size: 0.8rem;
    }
}
@media (max-width: 1024px) {
    nav {
        font-size: 0.7rem;
    }
}